{% extends 'page_default.html.twig' %}

{% block main %}
    <div class="block block--page-add">
        <div class="block-content">
            {{ form(form) }}
       </div>
    </div>
{% endblock %}