{% extends 'Layout/layout-two-col-4-8.html.twig' %}

{% block regionRight %}
    <div class="block block--page-view">
        <div class="block-content">
            <h2 class="field field-title">{{ page.title }}</h2>
            <div class="field field-comments"><div class="comment-preview">
                    <h2 class="comment-title">Comments</h2>
                    <div class="lists">
                        {% for item in comments %}
                             <div class="list-item">
                                {{ include('Term/ViewMode/teaser.html.twig', {'item' : item})  }}
                                <ul>
                                    <li>
                                        <a href="{{ path('comment_edit', {'id' : item.id  }) }}">Edit</a>
                                        <a href="{{ path('comment_delete', {'id' : item.id  }) }}">Delete</a>

                                    </li>
                                </ul>
                            </div>
                        {% endfor %}
                    </div>
                </div></div>
        </div>
    </div>
    <div class="block-navigation">
        <ul class="pager">
            {% if navigator.pager > 1 %}
                <li class="pager-item"><a href="{{ path('page_comments', {'id' : page.id , 'pager' : navigator.pager - 1 }) }}">back</a> </li>
            {% endif %}
            <li class="pager-item">{{ navigator.pager }}</li>
            {% if navigator.pager*navigator.limit<navigator.total %}
                <li class="pager-item"><a href="{{ path('page_comments', {'id' : page.id , 'pager' : navigator.pager +1}) }}">next</a> </li>
            {% endif %}
        </ul>
    </div>
{% endblock %}