{% extends 'page_default.html.twig' %}
{% block page_title %}Login{% endblock %}
{% block main %}
    <div class="block block--security-register security-user">
        <div class="block-content">
            {{ form(recover_form) }}
        </div>
    </div>
{% endblock %}
