{% extends 'Layout/layout-two-col-4-8.html.twig' %}

{% block regionRight %}
    <div class="block block--term-list">
        <div class="block-content">
            <div  class="list list--term-list">
                {% for term in terms %}
                    <div class="list-item">
                        {{ include ('Term/ViewMode/teaser.html.twig', {'item' : term}) }}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}