form { max-width: 600px; margin: 0 auto; }
form label { display: block; margin-bottom: 3px; }
form button { -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); color: #ffffff; background-color: #222; border-width: 0; padding: 5px 20px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; }
form .form-row { margin-bottom: 10px; }
form .form-row input, form .form-row select, form .form-row textarea { width: 100%; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; border: 1px solid #cccccc; padding: 3px; height: 30px; }
form .form-row input:-moz-placeholder, form .form-row textarea:-moz-placeholder { opacity: 1; }
form .form-row input::-moz-placeholder, form .form-row textarea::-moz-placeholder { opacity: 1; }
form .form-row input:-ms-input-placeholder, form .form-row textarea:-ms-input-placeholder { opacity: 1; }
form .form-row input::-webkit-input-placeholder, form .form-row textarea::-webkit-input-placeholder { opacity: 1; }
form .type-birthday > div { display: -webkit-flex; display: flex; -webkit-flex-direction: row; flex-direction: row; }
form .type-birthday > div > select { width: calc( ( 100% - 10px ) / 2 ); margin-right: 10px; }
form .type-birthday > div > select:last-child { margin-right: 0; }

.lt-form-image-row { display: flex; align-items: center; }
.lt-form-image-row .lt-r--left { margin-right: 20px; }
.lt-form-image-row .lt-r--right { flex: 1; }