html, body { padding: 0; margin: 0; width: 100%; }

body { overflow-y: scroll; font: 14px/20px "Helvetica Neue", Helvetica, Arial, sans-serif; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

a { color: #d8450b; text-decoration: none; font-family: "Oswald", sans-serif; }
a:hover { text-decoration: underline; }

h1 { font-family: "Oswald", sans-serif; font-weight: normal; text-transform: uppercase; font-size: 36px; line-height: 40px; background: #f8f8f8; padding: 10px 5px; margin: 0 0 20px 0; border-bottom: 1px dotted #a9a9a9; border-top: 1px dotted #a9a9a9; }