@import "../default";
@import "../inc/variable";
@import "../inc/mixins";

form{
  max-width: 600px;
  margin:0 auto ;
  label{
    display: block;
    margin-bottom: 3px;
  }
  button{
    @include border-radius(5px);
    @include box-shadow(inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05));
    color: $white;
    background-color: $gray_22;
    border-width: 0;
    padding: 5px 20px;
  }
  .form-row{
    @include dist-last-btn(10px);
    input, select, textarea {
      width: 100%;

      @include border-radius(10px);
      border:1px solid $gray_cc;
      padding: 3px;
      height: 30px;

    }
    input, textarea{
      @include input-placeholder{
        @include opacity(1);
      }
    }

  }
  .type-birthday{
    & > div{
      @include display-flex();
      @include flex-direction(row);
      & > select{
        width: calc((100% - 10px)/2);
        margin-right: 10px;
        &:last-child{
          margin-right: 0;
        }
      }
    }
  }
}