@import "compass";
@import "../inc/variable";
html,body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}
body{
  overflow-y: scroll;
  font:14px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
}
*{
  @include box-sizing(border-box);
}

a{
  color: $red;
  text-decoration: none;
  font-family: "Oswald", sans-serif;
  &:hover{
    text-decoration: underline;
  }
}

h1{
  font-family: "Oswald", sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 36px;
  line-height: 40px;
  background: $gray_f8;
  padding: 10px 5px;
  margin: 0 0 20px 0;
  border-bottom: 1px dotted $gray_a9;
  border-top: 1px dotted $gray_a9;
}