@import "../default";
@import "../inc/variable";
@import "../inc/mixins";
.page{
  max-width: 1200px;
  margin:0 auto;
  @include display-flex;
  @include flex-flow(row wrap);
  height: 100%;
  & > *{
    width: 100%;
    //@include flex(1 100%);
  }

  footer{
    margin-top: auto;
    //@include align-self(flex-end);
  }

  &-wrap{
    padding: 0 10px 30px 10px;
    background-image: image-url('page-bg-1.jpg');
    height: 100%;
  }
}

.main {
  &-wrap {
    max-width: 1200px;
    padding: 0;
    margin: 0 auto;
    @include display-flex;
    @include flex-flow(row wrap);
    .sidebar-left {
      @include flex(1 100%);
      @include order(2);
    }
    .main {
      @include flex(1 100%);
    }
    @include breakpoint($desktop) {
      .sidebar-left {
        @include flex(none);
        width: calc(33% - 15px);
      }
      .main {
        @include flex(none);
        width: calc(67% - 15px);
        margin-right: 30px;
      }
    }
  }
}


.block{
  &-title{}
  h2{
    text-transform: uppercase;
    font-size: 24px;
    line-height: 40px;
    background: $gray_f8;
    padding: 10px 5px;
    margin: 0 0 20px 0;
    border-bottom: 1px dotted $gray_a9;
    border-top: 1px dotted $gray_a9;
    font-family:"Oswald", sans-serif;
  }
}


.sidebar{
  .block{
    margin-bottom: 30px;
    &-content{
      margin-bottom: 15px;
    }
    &:last-child{
      margin-bottom: 0;
    }
  }
}

.block-category-list{
  .menu{
    @include resetLi;
    &-item{
      border-bottom: 1px dashed $gray_a9;
      padding: 10px 0;
      &:last-child{
        border-bottom-width: 0;
      }

    }
    a{
      position: relative;
      text-transform: uppercase;
      margin-left: 30px;
      font-size: 12px/1 "Oswald", sans-serif;

      &:before{
        position: absolute;
        content: "";
        left: -20px;
        display: inline-block;
        width: 14px;
        height: 14px;
        margin-top: 1px;
        line-height: 14px;
        vertical-align: text-top;
        background-image: image-url('glyphicons-halflings.png');
        background-position: 0 -95px;
      }
    }
  }
}

.page-view{
  .fields{
    &-top{
      background-color: $white;
      padding: 20px;

      .list-link{
        margin-bottom: 20px;
        @include display-flex;
        @include flex-direction(row);
        @include justify-content(flex-end);
        font-size: 12px;
        &-item{
          margin-right: 10px;
          &-first-child{
            &:before{

            }

          }
          &:last-child{
            margin-right: 0;
          }
        }
      }
    }
  }
}


