{% extends "System/block.html.twig" %}
{% block block_class %}copyright{% endblock %}
{% block block_title_wrap %}{% endblock %}
{% block block_content_wrap %}
    &copy; 2012-{{ 'now'|date("Y") }} Piccolo Theme. All rights reserved
{% endblock %}
