{% extends "System/block.html.twig" %}
{% block block_class %}logo{% endblock %}
{% block block_title_wrap %}{% endblock %}
{% block block_content %}<img src="{{ asset('images/piccolo-logo.png') }}">{% endblock %}