{% extends "System/nav.html.twig" %}
{% block block_class %}main-menu-footer menu--main-menu-footer{% endblock %}
{% block block_title_wrap %}{% endblock %}
{% block block_content %}
    <ul class="menu">
        <li class="menu-item"><a href="#">Home</a></li>
        <li class="menu-item"><a href="#">Articles</a></li>
        <li class="menu-item"><a href="#">Contacts</a></li>
    </ul>
{% endblock %}