/* line 5, ../../../sass/base/form.scss */
form {
  max-width: 600px;
  margin: 0 auto;
}
/* line 8, ../../../sass/base/form.scss */
form label {
  display: block;
  margin-bottom: 3px;
}
/* line 12, ../../../sass/base/form.scss */
form button {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  color: #ffffff;
  background-color: #222;
  border-width: 0;
  padding: 5px 20px;
}
/* line 20, ../../../sass/base/form.scss */
form .form-row {
  margin-bottom: 10px;
}
/* line 11, ../../../sass/inc/_mixins.scss */
form .form-row:last-child {
  margin-bottom: 0;
}
/* line 22, ../../../sass/base/form.scss */
form .form-row input, form .form-row select, form .form-row textarea {
  width: 100%;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #cccccc;
  padding: 3px;
  height: 30px;
}
/* line 61, ../../../../../../../../var/lib/gems/2.3.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/css3/_user-interface.scss */
form .form-row input:-moz-placeholder, form .form-row textarea:-moz-placeholder {
  opacity: 1;
}
/* line 64, ../../../../../../../../var/lib/gems/2.3.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/css3/_user-interface.scss */
form .form-row input::-moz-placeholder, form .form-row textarea::-moz-placeholder {
  opacity: 1;
}
/* line 67, ../../../../../../../../var/lib/gems/2.3.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/css3/_user-interface.scss */
form .form-row input:-ms-input-placeholder, form .form-row textarea:-ms-input-placeholder {
  opacity: 1;
}
/* line 56, ../../../../../../../../var/lib/gems/2.3.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/css3/_user-interface.scss */
form .form-row input::-webkit-input-placeholder, form .form-row textarea::-webkit-input-placeholder {
  opacity: 1;
}
/* line 39, ../../../sass/base/form.scss */
form .type-birthday > div {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
}
/* line 42, ../../../sass/base/form.scss */
form .type-birthday > div > select {
  width: calc((100% - 10px)/2);
  margin-right: 10px;
}
/* line 45, ../../../sass/base/form.scss */
form .type-birthday > div > select:last-child {
  margin-right: 0;
}
