{% extends "System/page.html.twig" %}
{% block page_title %}Main Page{% endblock %}
{% block header %}
    {{ render(controller('App\\Controller\\BlockController::logoAction')) }}
    {{ render(controller('App\\Controller\\BlockController::mainMenuAction')) }}
{% endblock %}
{% block sidebar_left%}
    {{ render(controller('App\\Controller\\BlocksController::categoryAction')) }}
{% endblock %}
{% block footer_bottom %}
    {{ include('Block/copyright.html.twig') }}
    {{ render(controller('App\\Controller\\BlockController::mainMenuFooterAction')) }}
{% endblock %}