{% extends "System/base.html.twig" %}
{% block page_title %}Main Page{% endblock %}
{% block body_top %}
    {{ include('Block:block-flashbag.html.twig') }}
{% endblock %}
{% block header %}
    {{ render(controller('App\\Controller\\BlockController::logo')) }}
    {{ render(controller('AppBundle:Block:mainMenu')) }}
{% endblock %}
{% block sidebar_left%}
    {{ render(controller('TermBundle:Blocks:category')) }}
{% endblock %}
{% block footer_bottom %}
    {{ include(':Block:copyright.html.twig') }}
    {{ render(controller('AppBundle:Block:mainMenuFooter')) }}
{% endblock %}