<div class="comment-preview">
    <h2 class="comment-title">Comments</h2>
    <div class="lists">
        {% for item in items %}
            <div class="list-item">
                {{ include('Comments/ViewMode/teaser.html.twig', {'item' : item})  }}
            </div>
        {% endfor %}
    </div>
</div>