.page { max-width: 1200px; margin: 0 auto; display: -webkit-flex; display: flex; -webkit-flex-flow: column wrap; flex-flow: column wrap; min-height: 100%; }
.page > * { width: 100%; }
.page footer { margin-top: auto; }
.page-wrap { padding: 0 10px; background-image: url('../../../images/page-bg-1.jpg'); height: 100%; }

.main-wrap { max-width: 1200px; margin: 0 auto; display: -webkit-flex; display: flex; -webkit-flex-flow: row wrap; flex-flow: row wrap; }
.main-wrap .sidebar-left { -webkit-flex: 1 100%; flex: 1 100%; -webkit-order: 2; order: 2; }
.main-wrap .main { -webkit-flex: 1 100%; flex: 1 100%; }
@media (min-width: 960px) { .main-wrap .sidebar-left { -webkit-flex: none; flex: none; width: calc(33% - 15px ); }
  .main-wrap .main { -webkit-flex: none; flex: none; width: calc(67% - 15px ); margin-right: 30px; } }

.block-title h2 { font-size: 24px; line-height: 40px; background: #f8f8f8; padding: 10px 5px; margin: 0; text-transform: uppercase; border-bottom: 1px dotted #a9a9a9; border-top: 1px dotted #a9a9a9; font-family: "Oswald", sans-serif; text-shadow: 1px 1px 0 #fdfdfd, 2px 2px 0 rgba(81, 81, 81, 0.5), 0 0 1px #fdfdfd; }

.sidebar .block { margin-bottom: 30px; }
.sidebar .block-title { margin-bottom: 15px; }
.sidebar .block:last-child { margin-bottom: 0; }

.block-category-list .menu { margin: 0; padding: 0; }
.block-category-list .menu li { list-style: none; }
.block-category-list .menu-item { border-bottom: 1px dashed #a9a9a9; padding: 10px 0; }
.block-category-list .menu-item:last-child { border-bottom-width: 0; }
.block-category-list .menu a { position: relative; text-transform: uppercase; margin-left: 30px; font-size: 12px; }
.block-category-list .menu a:before { position: absolute; content: ""; left: -20px; top: 0; width: 14px; height: 14px; margin-top: 1px; line-height: 14px; vertical-align: text-top; background-image: url('../../../images/glyphicons-halflings.png'); background-position: 0 -95px; }

.page-view .fields-top { background-color: #ffffff; padding: 20px; *zoom: 1; }
.page-view .fields-top:after { content: ""; display: table; clear: both; }
.page-view .fields-top .list-link { margin-top: 20px; display: -webkit-flex; display: flex; -webkit-flex-direction: row; flex-direction: row; -webkit-justify-content: flex-end; justify-content: flex-end; font-size: 12px; }
.page-view .fields-top .list-link-item { margin-right: 10px; }
.page-view .fields-top .list-link-item:last-child { margin-right: 0; }
.page-view .field-image { float: left; margin-bottom: 20px; margin-right: 20px; }

.messages .message { margin-bottom: 15px; background-color: #fcf8e3; border: 1px solid #fbeed5; color: #c09853; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; padding: 8px 14px; }
.messages .message--error { color: #b94a48; background-color: #f2dede; border-color: #eed3d7; }
.messages .message--success { color: #468847; background-color: #dff0d8; border-color: #d6e9c6; }
.messages .message--help { color: #3a87ad; background-color: #d9edf7; border-color: #bce8f1; }