
$desktop: 960px;
$desktopOnly: 1200px;
$desktopLarge: 1200px;
$tabled: 600px;
$tabledOnly: 600px 60px;
$mobileMax: 0 600px;

$red: #d8450b;
$white: #ffffff;
$black: #333;
$gray_77: #777;
$gray_ee: #eee;
$gray_a9: #a9a9a9;
$gray_ab: #ababab;
$gray_dc: #dcdcdc;
$gray_f8: #f8f8f8;
$gray_cc: #cccccc;
$gray_22: #222;
